.git
.gitignore
.bundle
.env
.env.*
.kamal
.devcontainer
.DS_Store
Thumbs.db

config/master.key
config/credentials/*.key
config/deploy*.yml

log/*
!log/.keep
tmp/*
!tmp/.keep
tmp/pids/*
!tmp/pids/.keep
storage/*
!storage/.keep
tmp/storage/*
!tmp/storage/.keep

coverage
spec
test
docs
README.md